<div class="search-form m-4">
  <form action="" method="POST">
    <div class="mb-3">
      <input
        name="q"
        placeholder="Input keywords..."
        class="form-control"
      />
      
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>